/*Start of heading / navigation */

#title_container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
   
   
  }

  ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  #comics-nav-bar{
    align-self: center;
  font-size: 19px;
  font-weight: bold;
}
  
  #nav_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  /*End of heading / navigation */
  
  /*section one */

  .drop-down-comics{
    display: none;
  }

  
  
  #ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  .characterGroup{
    display: flex;
    flex-direction: column-reverse;
   
  }

  #logo-quote-container{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 60% auto;
  }

  #logo_stan{
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #quote{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;

  }

  #stan_name{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
  }
  
#spidermanTitle{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Montserrat', sans-serif;
}

#title-banner-container{
  display: flex;
  flex-direction: row-reverse;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

#spidermanTitleContainer{
 

 display: flex;
 justify-content: flex-end;
}

#spidermanTitle{
  background-color: rgb(255, 255, 255);

 padding: 40px;
 position: relative;
 left:50px;
  width: 50%;
  box-sizing: border-box;
  text-decoration: overline;
  text-decoration-color: #c50000;
}